{% extends 'store/accounts/base_2.html' %}

{% load static %}
{% block content %}
<br>
<div class="row">
<div class="col-12">
        <a style="float:right; margin:5px" class="badge-pill badge-warning" href="{% url 'store' %}">Back To Mall</a>
    </div>
    </div>
<center><div class="box-element" id="beginning" ><strong>Mall Naija User Guide</strong></div></center>
<br>
<div class="row">
    <div class="col-12 box-element">
        <p>This is empty for now, mall naija guide is still being updated</p>
    </div>
</div>


{% endblock %}